@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$light1:rgb(24, 136, 153);
$dark1: #0F2027;
$dark2: #203A43;
$white: rgb(207, 207, 207);
$shadow: 0 3px 20px rgba(0, 0, 0, 0.356);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.05rem;
}

body {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $white;
}

button,
input[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
  background: $light1;
  transition: 0.2s;
  color: $white;

  &:hover {
    filter: brightness(80%);
    transform: translateX(2px);
  }
}
